.font{
    font-size: 75px;
    font-weight: bolder;
}
.name{
  font-size: 65px;
font-weight: bolder; 
  line-height: 100px;
}
.developer{
    font-family: "Poppins", sans-serif;
    line-height: 70px;
}
.para{
    font-size: 18px;
}
.press{
    border-radius: 8px;
}
ul{
  list-style-type: none;
}
nav li{
  display: inline;
  margin-left: 20px;
  line-height: 4px;
 
}
.img-fluid{
  margin-top: 50px;
}
nav{
  padding: 20px 0px;
}